In [9]:
# Feel free to use this notebook for any data exploration you feel is useful
import pandas as pd

In [10]:
df = pd.read_csv('../data/dataset_experimentation.csv')
df.head()

,user_id,age,workclass,salary,education_rank,marital-status,occupation,race,sex,mins_beerdrinking_year,mins_exercising_year,works_hours,tea_per_year,coffee_per_year,great_customer_class,test,spent_17,spent_18
0,1004889,14.0,private,70773.00,9,Never-married,sales,not_caucasian,Male,0.0,0.0,40,399.0,NaN,0,0,18.297024,41.664116
1,1012811,25.0,private,76597.00,9,Divorced,sales,caucasian,Female,0.0,0.0,30,256.0,NaN,0,1,61.527839,79.876744
2,1006870,21.0,private,47947.25,10,Never-married,clerical,caucasian,Female,0.0,0.0,10,442.0,276.0,0,0,29.813543,36.155701
3,1022149,23.0,private,41740.25,7,Divorced,sales,caucasian,Female,0.0,0.0,20,NaN,NaN,0,0,69.938808,72.754263
4,1029558,26.0,private,NaN,9,Married,sales,not_caucasian,Male,NaN,0.0,36,NaN,120.0,0,1,57.916136,70.004968

In [11]:
s = (df.dtypes == 'object')
object_cols = list(s[s].index)
object_cols

['workclass', 'marital-status', 'occupation', 'race', 'sex']

In [13]:
cnames=list(df.select_dtypes(exclude=['object']).columns)
cnames

['user_id',
 'age',
 'salary',
 'education_rank',
 'mins_beerdrinking_year',
 'mins_exercising_year',
 'works_hours',
 'tea_per_year',
 'coffee_per_year',
 'great_customer_class',
 'test',
 'spent_17',
 'spent_18']

In [14]:
import yaml
with open("../interview-test-final/util/config.yaml", "r") as config:
    try:
        config_dict = yaml.safe_load(config)
        categorical_features = config_dict['cateogrical_features']
        numerical_features = config_dict['numerical_features']
        ordinal_features = config_dict['ordinal_features']
        drop_features = config_dict['drop_features']
        target_feature = config_dict['target_feature']
    except yaml.YAMLError as exc:
        print(exc)

{'categorical_features': ['age', 'workclass', 'marital-status', 'occupation', 'race', 'sex'], 'numerical_features': ['age', 'salary', 'mins_beerdrinking_year', 'mins_exercising_year', 'works_hours', 'tea_per_year', 'coffee_per_year', 'test', 'spent_17', 'spent_18'], 'ordinal_features': ['education_rank'], 'drop_features': ['user_id'], 'target_feature': ['great_customer_class']}